<div class="container mt-3 mb-2">
    <%= form_for(@vivienda) do |f|%>
    <div class="row mb-1 mt-5">
        <p class=h5>Ingrese Tipo de vivienda</p>
    </div>
    <div class="d-flex flex-row">
        <div class="p-2">

            <%=f.text_field :tipo_vivienda,
                placeholder: "Ingrese tipo",
                required: true
                %>
        </div>
    </div>  
    <div class="row mb-1 mt-5">
        <p class=h5>Ingrese direccion</p>
    </div>
    <div class="d-flex flex-row">
        <div class="p-2">

            <%=f.text_field :ciudad,
                placeholder: "Ciudad",
                required: true
                %>
        </div>
        <div class="p-2">

            <%=f.text_field :calle,
                placeholder: "Calle",
                required: true
                %>
        </div>
        <div class="p-2">

            <%=f.text_field :numero,
                placeholder: "Numero",
                required: true
                %>
        </div>
        <div class="p-2">

            <%=f.text_field :piso,
                placeholder: "Piso",
                required: true
                %>
        </div>
        <div class="p-2">

            <%=f.text_field :depto,
                placeholder: "Depto",
                required: true
                %>
        </div>
    </div>  
    
    <div class="row mb-1 mt-5 px-3">
        <%= f.submit "Guardar persona", class:"btn btn-success btn-lg"%>
    </div>
    <%end%>
</div>
<!--
<%= text_area_tag(:message, "Hi, nice site", size: "24x6") %>
<%= password_field_tag(:password) %>
<%= hidden_field_tag(:parent_id, "5") %>
<%= search_field(:user, :name) %>
<%= telephone_field(:user, :phone) %>
<%= date_field(:user, :born_on) %>
<%= datetime_local_field(:user, :graduation_day) %>
<%= month_field(:user, :birthday_month) %>
<%= week_field(:user, :birthday_week) %>
<%= url_field(:user, :homepage) %>
<%= email_field(:user, :address) %>
<%= color_field(:user, :favorite_color) %>
<%= time_field(:task, :started_at) %>
<%= number_field(:product, :price, in: 1.0..20.0, step: 0.5) %>
<%= range_field(:product, :discount, in: 1..100) %>

-->
