<div class="container-fluid mt-5">
<div class="container mt-3 mb-4">
<div class="row">
	<h1 class="col"> Listado de Viviendas </h1>
	<%= link_to "Crear", new_vivienda_path, class: 'btn btn-primary btn-lg m-2' %>
</div>
</div>


<div class="container">

<table class="table">

	<tr>
		<th> Tipo de vivienda </th>
		<th> Ciudad </th>
		<th> Calle </th>
		<th> Numero </th>
        <th> Piso</th>
        <th> Depto</th>
	</tr>


	<% @viviendas.each do |vivienda| %>
		<tr>
			<td> <%= link_to(
				"Vivienda no: " + vivienda.id.to_s + ", " + vivienda.tipo_vivienda,
                vivienda)
                 %>
            </td>

			<td> <%= vivienda.ciudad %> </td>

			<td> <%= vivienda.calle %> </td>

            <td> <%= vivienda.numero %> </td>

            <td> <%= vivienda.piso %> </td>

            <td> <%= vivienda.depto %> </td>

			<td>
				<%= link_to "Editar", edit_vivienda_path(vivienda), class: 'btn btn-info btn-sm' %>
				<%= link_to "Eliminar",
				 vivienda,
				  method: :delete,
				  data:{confirm: "Segurx?"},
				  class: 'btn btn-danger btn-sm'
				  %>
			</td>

		</tr>
	<% end %>

	<% if @viviendas.size == 0 %>
		<tr> <td colspan="3"> No hay viviendas en la base de datos </td> </tr>
	<% end %>

</table>

</div>


</div>