<div class="container mt-3 mb-2">
    <%= form_for(@persona) do |f|%>
    <div class="row mb-1 mt-5">
        <p class=h5>Ingrese nombre y apellido</p>
    </div>
    <div class="d-flex flex-row">
        <div class="p-2">

            <%=f.text_field :nombre,
                placeholder: "Ingrese nombre",
                required: true
                %>
        </div>
        <div class="p-2">
        <%=f.text_field :apellido,
            placeholder: "Ingrese apellido",
            required: true
            %>
        </div>
    </div>  
    <div class="row mb-1 mt-5">
        <p class=h5>Ingrese direccion de correo</p>
    </div>
    <div class="d-flex flex-row">
        <div class="p-2">

            <%=f.text_field :email,
                placeholder: "Ingrese email",
                required: true
                %>
        </div>
    </div>  
    <div class="row mb-1 mt-5">
        <p class=h5>Ingrese fecha de nacimiento</p>
    </div>
    <div class="d-flex flex-row">
        <div class="p-2">

            <%= f.date_field :fecha,
                placeholder: "Ingrese fecha de nacimiento",
                required: true%>
        </div>
    </div>

    <div class="row mb-1 mt-5">
        <p class=h5>Ingrese vivienda valida</p>
    </div>
    <div class="d-flex flex-row">
        <div class="p-2">
            <%= collection_select(:persona,
            :vivienda_id,
            Vivienda.all,
            :id,
            :id,
            {prompt: "Seleccione una"},
            { class: 'form-control'}) %>
        </div>
    </div>

    <div class="row mb-1 mt-5 px-3">
        <%= f.submit "Guardar persona", class:"btn btn-success btn-lg"%>
    </div>
    <%end%>
</div>
<!--
<%= text_area_tag(:message, "Hi, nice site", size: "24x6") %>
<%= password_field_tag(:password) %>
<%= hidden_field_tag(:parent_id, "5") %>
<%= search_field(:user, :name) %>
<%= telephone_field(:user, :phone) %>
<%= date_field(:user, :born_on) %>
<%= datetime_local_field(:user, :graduation_day) %>
<%= month_field(:user, :birthday_month) %>
<%= week_field(:user, :birthday_week) %>
<%= url_field(:user, :homepage) %>
<%= email_field(:user, :address) %>
<%= color_field(:user, :favorite_color) %>
<%= time_field(:task, :started_at) %>
<%= number_field(:product, :price, in: 1.0..20.0, step: 0.5) %>
<%= range_field(:product, :discount, in: 1..100) %>

-->
