<div class="container-fluid mt-5">
<div class="container mt-3 mb-4">
<div class="row">
	<h1 class="col"> Listado de Personas </h1>
	<%= link_to "Crear", new_persona_path, class: 'btn btn-primary btn-lg m-2' %>
</div>
</div>


<div class="container">

<table class="table">

	<tr>
		<th> Nombre y apellido </th>
		<th> Email </th>
		<th> Fecha de ?? </th>
		<th> Vivienda </th>
        <th> Opciones</th>
	</tr>


	<% @personas.each do |persona| %>
		<tr>
			<td> <%= link_to(
				persona.apellido+" " + persona.nombre,
                persona)
                 %>
            </td>

			<td> <%= persona.email %> </td>

			<td> <%= persona.fecha %> </td>

            <td> <%= link_to(
				"N°: " + persona.vivienda.id.to_s,
                persona.vivienda)%>
            </td>

			<td>
				<%= link_to "Editar", edit_persona_path(persona), class: 'btn btn-info btn-sm' %>
				<%= link_to "Eliminar",
				 persona,
				  method: :delete,
				  data:{confirm: "Segurx?"},
				  class: 'btn btn-danger btn-sm'
				  %>
			</td>

		</tr>
	<% end %>

	<% if @personas.size == 0 %>
		<tr> <td colspan="3"> No hay personas en la base de datos </td> </tr>
	<% end %>

</table>

</div>


</div>