<h1> Bienvenido a Un laboratorio dificil </h1>
<h3> ¿Qué desea hacer? </h3>
<ul>
  <li> <%= link_to "Nueva vivienda", new_vivienda_path %></li>
  <li> <%= link_to "Listado de Personas", personas_path %></li>  
  <li> <%= link_to "Listado de Viviendas", viviendas_path %></li>  
  <li> <%= link_to "Futura ayuda", nil %></li> 
</ul>