<header>
    
    <nav class="navbar p-0 navbar-expand navbar-dark bg-dark">        
      <div class="container">
          
          <%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag "vivienda.png",class: "navbar-brand" %>
            <p class='navbar-text'>BASE DE DATOS DE VIVIENDAS</p>
          <% end %>
      </div>
    </nav>

</header>